<StackLayout>
    <Label text="Cadastre Sua Republica" class="h1 text-center"></Label>
    <StackLayout class="input-field">
            <Label text="Cadastre Sua Republica" class="label font-weight-bold m-b-5"></Label>
            <TextField class="input" type></TextField>
        
            <Label text="vagas" class="number label font-weight-bold m-b-5"></Label>
            <TextField class="input" type></TextField>
        
            <Label text="Regras" class="label font-weight-bold m-b-5"></Label>
            <TextField class="input" type></TextField>
    </StackLayout>
</StackLayout>