<StackLayout class="form">
<label class="h1 text-center" text="Bem Vindo"></label>
  <StackLayout class="input-field">
    <Label text="Email" class="label font-weight-bold m-b-5"></Label>
    <TextField class="input"></TextField>
    <StackLayout class="hr-light"></StackLayout>

    <Label text="Senha" class="label font-weight-bold m-b-5"></Label>
    <TextField class="input" type></TextField>
    <StackLayout class="hr-light"></StackLayout>
  </StackLayout>

  <button class="btn btn-primary" text="Fazer login"></button>
  <label [nsRouterLink]="['/registration']" pageTransition="slide" class="text-center h6" text="Não possui conta ? Cadastre-se aqui"></label>
</StackLayout>