<StackLayout class="form">
    <label class="h1 text-center" text="Novo Usuário"></label>
    <StackLayout class="input-field">
        <label class="label font-weight-bold m-b-5" text="Nome"></label>
        <TextField class="input" text=""></TextField>
        <StackLayout class="hr-light"></StackLayout>

        <label class="label font-weight-bold m-b-5" text="Usuário"></label>
        <TextField class="input" text=""></TextField>
        <StackLayout class="hr-light"></StackLayout>

        <label class="label font-weight-bold m-b-5" text="Senha"></label>
        <TextField class="input" text=""></TextField>
        <StackLayout class="hr-light"></StackLayout>
    </StackLayout>
</StackLayout>